<div style="margin-top: 5rem; display: flex;">
    <div class="style">
        <div *ngFor="let data of userData.slice(0,2)" class="first-class">
            <div class="second-class">
                <p>Name:{{data.name}}</p>
                <p>Age:{{data.age}}</p> 
                <p>Email:{{data.email}}</p>
            </div>
            <div>
                <img src="../../assets/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="">
            </div>
        </div>
    </div>
   <div>
    <div *ngFor="let data of userData.slice(2,5)" class="first-class">
        <div class="second-class">
            <p>Name:{{data.name}}</p>
            <p>Age:{{data.age}}</p> 
            <p>Email:{{data.email}}</p>
        </div>
        <div>
            <img src="../../assets/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="">
        </div>
    </div>
   </div>
   <!-- <div>
    <div *ngFor="let data of userData.slice(4,5)" class="first-class">
        <div class="second-class">
            <p>Name:{{data.name}}</p>
            <p>Age:{{data.age}}</p> 
            <p>Email:{{data.email}}</p>
        </div>
        <div>
            <img src="../../assets/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="">
        </div>
    </div>
   </div> -->
   <div>
    <div *ngFor="let data of userData.slice(0,2)" class="first-class">
        <div class="second-class">
            <p>Name:{{data.name}}</p>
            <p>Age:{{data.age}}</p> 
            <p>Email:{{data.email}}</p>
        </div>
        <div>
            <img src="../../assets/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="">
        </div>
    </div>
   </div>
</div>
