.first-class{
    display: flex;
    align-items: center;
    background: #eaecee;
    height: 100px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid #6d6dc3cc;
    p{
        margin: 0px;
    }
    img{
        height: 50px;
        width: 50px;
        border-radius:50%;
    }
    .second-class{
        padding: 15px;
    }
    }